*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(0, 0, 0);
:root{
    --text-color: #ffffff;
    --card-front-color: #09683d;
    --card-back-color: #15AE68;

}
body{
    font-family:Tomorrow;
}
.cartao__conteudo{
    background-color:var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
}